header {
  width: 100vw;
  height: 22vh;
  background: rgb(10, 151, 132);
  box-shadow: 5px 5px 10px rgba(94, 93, 93, 0.514);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
  .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  h1 {
    font-size: 4.5rem;
    font-family: 'Advent Pro', sans-serif;
    width: 100px;
    text-align: center;
    font-weight: 400;
    margin-right: 35px;
    text-shadow: -4px 4px #000;
    color: whitesmoke;
    span {
      font-size: 3rem;
      display: block;
    }
  }
  i {
    font-size: 3rem;
    color: rgb(109, 3, 3);
    padding: 5px;
  }
  #logo {
    width: 200px;
    height: 200px;
    filter: drop-shadow(-3px 4px whitesmoke);    
    // filter: drop-shadow(-3px 4px rgb(255, 255, 255)) invert(90%);
  }  
}