header {
  width: 100vw;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease all 1s;
  .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 110px;
  }
  .header-logo {
    position: absolute;
    z-index: 2;
    width: 600px;
    height: 200px;
    top: 20px;
    line-height: 60px;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
     h1 {
      font-size: 4.5rem;
      font-family: 'Advent Pro', sans-serif;
      width: 100px;
      text-align: center;
      font-weight: 400;
      margin-right: 35px;
      text-shadow: -4px 4px #000;
      color: rgb(22, 202, 187);
      span {
        font-size: 3rem;
        display: block;
      }
}
    img {
      height: 200px;
      filter: invert(95%);
    }
  }

  .header-logo:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 600px;
    height: 200px;
    background: rgb(0, 0, 0);
    transform: translate(0, 0);
    transition: all .5s ease-in-out;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.1);
  }

  .header-logo:after {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 600px;
    height: 200px;
    background: rgb(12, 192, 177);
    transform: translate(13px, 12px);
    transition: all .5s ease-in-out;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
  }

  .header-logo:hover {
    transform: translate(13px, 12px);
    h1 {
      color: white;
    }
    img {
      filter: drop-shadow(-4px 4px white) invert(95%);
    }
  }

  .header-logo:hover:before {
    background: teal;
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.2);
  }

  .header-logo:hover:after {
    transform: translate(-15px, -10px);
    background: #000;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 46.5px;    
    .menu {
      a {
        all: unset;
      }
      padding-left: 140px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: transparent;
      transition: color .5s ease-in; 
      margin-top: 20px;   
      i {    
        font-size: 3rem;
        cursor: pointer;
      }
    }
    &:hover {
      .menu {
        color: #000;
      }
    }
  } 
}