.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $accent1;
  width: 400px;
  height: 400px;
  border-radius: 15px;
  box-shadow: -3px 3px 15px #000;
  h3 {
    margin: 10px 0 40px;
    font-family: 'Advent Pro', sans-serif;
    font-size: 4rem;
    color: whitesmoke;
    text-shadow: -7px 3px 5px #000;    
  }
  input {
    margin: 20px 0;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.5rem;
    border: none;
    outline: none;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.883);
    &::placeholder {
      padding-left: 10px;
    }
  }
  button {
    all: unset;
    font-family: 'Advent Pro', sans-serif;
    margin: 10px auto 0;
    background: whitesmoke;
    width: 80px;
    height: 40px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    box-shadow: -3px 3px 5px #000;
    transition: all ease .5s;
    border-radius: 5px;
    display: block;
    &:hover {
      cursor: pointer;
      background: $accent2;
      transform: scale(1.05);
      color: $accent1;
    }
  }
}

.signup {
  width: 600px;
  height: 900px;
  h3 {
    margin: 10px 0 20px;
    font-size: 3rem;  
  }
  .upload {
    width: 120px;
  }
}