.leaflet-popup-content-wrapper {
  font-family: 'Advent Pro', sans-serif;
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: teal;    
  }
  p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    margin: 0;
  }
}

.buy {
  #map {
    height: 78vh;
    width: 50vw;
    z-index: 1;
  }
}

.profile {
  #map {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    z-index: 1;
  }
}