.leaflet-popup-content-wrapper {
  font-family: $titleFont;
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: $accent1;    
  }
  p {
    font-family: $mainFont;
    font-size: 1rem;
    margin: 0;
  }
}
.leaflet-touch .leaflet-control-attribution {
  display: none;
}

.buy {
  .leaflet-container {
    height: 46vh;
    margin: 0 auto;
    width: 45vw;
    z-index: 1;
    grid-area: map;
    box-shadow: -5px 5px 10px rgb(124, 124, 124);
  }
  .leaflet-tile-pane {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%) invert(100%);
  }
  .leaflet-marker-icon {
    height: 70px;
    filter: brightness(110%) saturate(150%) drop-shadow(2px 2px rgb(250, 93, 2)) ;
  }
}