.leaflet-popup-content-wrapper {
  font-family: $titleFont;
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: teal;    
  }
  p {
    font-family: $mainFont;
    font-size: 1rem;
    margin: 0;
  }
}

.buy {
  #map {
    height: calc(78vh-200px);
    width: 50vw;
    z-index: 1;
    grid-area: map;
  }
}