.message-container {
  height: 50px;
  width: 300px;
  background: rgba(0, 0, 0, 0.692);
  border: 3px solid teal;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $titleFont;
  font-size: 1.3rem;
}

.blah {
  height: 55px;
}