.table-container {
  width: 43vw;
  grid-area: table;
  margin: 10px 20px 0 50px;
  box-shadow: -5px 5px 10px rgb(124, 124, 124);
}

table {
  width: 100%;
  table-layout: fixed;
  font-size: 1.2rem;
  font-family: $titleFont;
  tbody {
    font-family: $mainFont;
    display: block;
    width: 100%;
    overflow: auto;
    height: 57vh;
  }

  thead tr {
    display: block;
    background: rgb(39, 39, 39);
    color: whitesmoke;
    font-weight: bold;
  }

  thead {
    background: black;
    color:#fff;
  }

  th, td {
    padding: 5px;
    width: calc(43vw/4);
    height: 30px;
    text-align: center;
    vertical-align: middle;
  }
  tr:nth-child(even) { 
    background: rgba(0, 128, 128, 0.082); 
  }
  td {
    border: .5px solid rgba(228, 227, 227, 0.363);
  }
}
