.profile {
  width: 100vw;
  font-family: $titleFont; 
  @include flexin();
  @media screen  and (max-width: 870px) {
   flex-direction: column;
  }
  .profile-card {
    box-shadow: -5px 5px 10px rgb(124, 124, 124);
    height: 66vh;
    width: 45vw;
    @media screen  and (max-width: 870px) {
      width: 73vw;
      height: 50vh;
    }
  }
  .vender-info {
    grid-area: info;
    width: 45vw;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 1250px) {
      flex-direction: column;
      text-align: center;
      .contact-info {
        margin-left: 0;
      }        
    }
    @media screen  and (max-width: 870px) {
      flex-direction: row;
      width: 73vw;
    }
    #farm {
      height: 187px;
    }
    .contact-info {
      margin: 15px 0 5px 50px;
      @media screen and (max-width: 1250px) {
        margin-left: 0;     
      }
      @media screen  and (max-width: 870px) {
        margin: 15px 0 5px 50px;        
      }
    }
  }
  h3 {
    font-size: 2.5rem;
    font-weight: 500;
    grid-area: title;
    text-align: center;
    width: 100%;
    margin: 20px auto; 
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  p {
    grid-area: bio;
    font-size: 1.2rem;
    text-align: start;
    font-family: $mainFont;
    font-weight: 300;
    text-align: center;
    margin: 10px 20px 0;
    text-align: left;
  }
  .vender-products {
    grid-area: table;
  }
}