.profile {
  display: grid;
  width: 100vw;
  font-family: $titleFont;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 80px 300px auto;
  grid-template-areas: 
    "title tille"
    "info table"
    "bio table";
    @media screen and (max-width: 1250px) {
      grid-template-rows: 80px 430px auto;   
    }
  .vender-info {
    grid-area: info;
    width: 50vw;
    @include flexin();
    @media screen and (max-width: 1250px) {
      flex-direction: column;
      text-align: center;        
    }
    #farm {
      width: 300px;
    }
    .contact-info {
      margin-left: 50px;
      @media screen and (min-width: 1190px) {
        margin-left: 0px;        
      }
      @media screen and (max-width: 1250px) {
        margin-left: 0px;                       
      }
    }
  }
  h3 {
    font-size: 4rem;
    font-weight: 500;
    grid-area: title;
    text-align: center;
    width: 200%;
  }
  h4 {
    font-size: 2rem;
    font-weight: 400;
    margin: 15px 0;
  }
  p {
    grid-area: bio;
    font-size: 2rem;
    text-align: start;
    font-family: $mainFont;
    font-weight: 300;
    text-align: center;
  }
  .vender-products {
    grid-area: table;
  }
}