.table-container {
  width: 43vw;
  grid-area: table;
  margin: 0 20px 0 50px;
  box-shadow: -5px 5px 10px rgb(124, 124, 124);
  @media screen  and (max-width: 1000px) {
    width: 47vw;
    margin: 0 5px 0 20px;
  }
  @media screen  and (max-width: 870px) {
    margin: 10px auto;
    width: 73vw;
  }
}

table {
  width: 100%;
  table-layout: fixed;
  font-size: 1.2rem;
  font-family: $titleFont;
  tbody {
    font-family: $mainFont;
    display: block;
    width: 100%;
    overflow: auto;
    height: 63vh;
  }

  thead tr {
    display: block;
    background: $accent2;
    color: whitesmoke;
    font-weight: bold;
  }

  thead {
    background: $accent2;
    color:#fff;
  }

  th, td {
    padding: 5px;
    width: calc(43vw/4);
    @media screen  and (max-width: 870px) {
      width: calc(73vw/4);
    }
    height: 30px;
    text-align: center;
    vertical-align: middle;
  }
  tr:nth-child(even) { 
    background:rgba(57, 131, 180, 0.322);
  }
  td {
    border: .5px solid rgba(228, 227, 227, 0.363);
  }
}
