.search {
  grid-area: search;
  .search-options {
    @include flexin();
  }
  form {
    box-shadow: -5px 5px 10px rgb(124, 124, 124);
    width: 45vw;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  h3 {
    font-family: $titleFont;
    font-size: 2rem;
    text-align: center;
    margin: -10px 0 10px;
    text-shadow: -2px 2px 3px rgb(131, 131, 131);
    padding-top: 10px;
  }
  select, input {
    width: 160px;
    height: 30px;
    font-family: $titleFont;
    font-size: 1rem;
    outline: none;
    margin: 10px;
    box-shadow: -1px 1px 2px rgb(131, 131, 131);
    border: none;
  }
  button {
    all: unset;
    font-family: $titleFont;
    margin: 10px auto 0;
    background: $accent1;
    width: 80px;
    height: 40px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: whitesmoke;
    box-shadow: -3px 3px 6px rgba(88, 88, 88, 0.664);
    transition: all ease .5s;
    border-radius: 5px;
    display: block;
    &:hover {
      cursor: pointer;
      background: rgb(0, 0, 0);
      transform: scale(1.05);
      color: $accent2;
    }
  }
}