///fonts
@import url('https://fonts.googleapis.com/css?family=Advent+Pro:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

$titleFont: 'Advent Pro', sans-serif;
$mainFont: 'Source Sans Pro', sans-serif;

///mixins
@mixin psuedo ($z, $t1, $t2, $a) {
  position: absolute;
  z-index: $z;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 600px;
  height: 100px;
  transform: translate($t1, $t2);
  transition: all .5s ease-in-out;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,$a);
}

@mixin flexin {
  display: flex;
  justify-content: center;
  align-items: center;
}

//colors

// $accent1: rgb(2, 150, 150);
// $accent2: rgb(12, 192, 177);

// $accent1: rgb(48, 139, 36);
// $accent1: rgb(9, 196, 108);
$accent1: rgb(6, 161, 45);

$accent2: rgb(39, 39, 39);

@import "Reset";
@import "Header"; 
@import "Profile";
@import "Map";
@import "App";
@import "Buy";
@import "Productlist";
@import "Search";
@import "Loading";
@import "Message";
@import "About";
@import "Login";
@import "AddProductForm";
